@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* line 13, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 19, ../scss/style.scss */
body.lock {
  overflow: hidden; }

/* line 23, ../scss/style.scss */
header {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  height: 100vh;
  background-image: url("../media/images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #212529; }

/* line 33, ../scss/style.scss */
footer {
  background-color: #000000;
  color: #ffffff; }

/* line 38, ../scss/style.scss */
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

/* line 46, ../scss/style.scss */
.full-width {
  width: 100%;
  background-color: #fce000; }

/* line 51, ../scss/style.scss */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* line 55, ../scss/style.scss */
.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 59, ../scss/style.scss */
.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* line 63, ../scss/style.scss */
.top--menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 178px; }

/* line 70, ../scss/style.scss */
.title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 72, ../scss/style.scss */
  .title__logo {
    width: 100%;
    height: auto;
    max-width: 200px;
    min-width: 60px;
    max-height: 60px; }
    /* line 78, ../scss/style.scss */
    .title__logo:hover {
      opacity: 0.5; }
  /* line 82, ../scss/style.scss */
  .title__text {
    font-size: 32px;
    text-align: center;
    font-family: "Montserrat", sans-serif; }
  /* line 87, ../scss/style.scss */
  .title__footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

/* line 93, ../scss/style.scss */
.header__burger {
  display: none; }

/* line 99, ../scss/style.scss */
.mobile__header {
  display: none;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
/* line 106, ../scss/style.scss */
.mobile__buger {
  position: absolute;
  cursor: pointer; }
  /* line 109, ../scss/style.scss */
  .mobile__buger:hover {
    opacity: 0.5; }
/* line 113, ../scss/style.scss */
.mobile__logo {
  width: 50px;
  height: 50px; }
/* line 117, ../scss/style.scss */
.mobile__text {
  line-height: 15px;
  font-size: 9px; }

/* line 123, ../scss/style.scss */
.menu {
  width: 577px;
  list-style: none;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  /* line 134, ../scss/style.scss */
  .menu__link {
    text-decoration: none;
    color: #ffffff; }
    /* line 137, ../scss/style.scss */
    .menu__link:hover {
      opacity: 0.5; }

/* line 143, ../scss/style.scss */
.burger-social {
  display: none; }

/* line 147, ../scss/style.scss */
.dropdown {
  font-weight: 400; }
  /* line 149, ../scss/style.scss */
  .dropdown__item {
    color: #ffffff; }
    /* line 151, ../scss/style.scss */
    .dropdown__item:hover {
      opacity: 0.5; }
    /* line 154, ../scss/style.scss */
    .dropdown__item--active {
      font-weight: 700; }

/* line 160, ../scss/style.scss */
.h-content {
  margin-top: 10px;
  margin-bottom: 60px; }
  /* line 163, ../scss/style.scss */
  .h-content__text {
    margin-top: 192px;
    margin-bottom: 60px;
    width: 540px;
    font-size: 32px;
    line-height: 38px;
    text-align: justify; }
  /* line 171, ../scss/style.scss */
  .h-content__note {
    margin-top: 21px;
    font-size: 25px;
    line-height: 29px; }

/* line 178, ../scss/style.scss */
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 39px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px; }
  /* line 191, ../scss/style.scss */
  .btn:hover {
    opacity: 0.5; }
  /* line 194, ../scss/style.scss */
  .btn__primary {
    background-color: #fce000;
    border: 1px solid #fce000;
    font-family: "Montserrat", sans-serif;
    height: 50px;
    width: 300px; }
  /* line 201, ../scss/style.scss */
  .btn__secondary {
    background: #000000;
    color: #fff;
    width: 479px;
    height: 54px;
    padding: 10px 39px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 80px;
    border: 1px solid #000; }

/* line 213, ../scss/style.scss */
.content {
  font-family: "Montserrat", sans-serif; }
  /* line 215, ../scss/style.scss */
  .content__box {
    margin: 60px 0; }
    /* line 217, ../scss/style.scss */
    .content__box--heading {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 140px auto auto 110px; }
  /* line 222, ../scss/style.scss */
  .content__heading {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    line-height: 76px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  /* line 232, ../scss/style.scss */
  .content__note {
    font-family: "Montserrat", sans-serif;
    margin: 15px auto 0;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.21em; }
  /* line 242, ../scss/style.scss */
  .content__descr {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    text-align: justify;
    width: 479px;
    padding: 0 10px;
    margin: 0 -10px 20px; }

/* line 255, ../scss/style.scss */
.info {
  padding: 46px 0; }
  /* line 258, ../scss/style.scss */
  .info__text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    max-width: 100%; }
    /* line 266, ../scss/style.scss */
    .info__text:nth-child(2) {
      margin-top: 40px; }
  /* line 270, ../scss/style.scss */
  .info__main-text {
    font-family: "Roboto", sans-serif;
    text-align: justify;
    max-width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px; }

/* line 281, ../scss/style.scss */
.narrow-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 258px 103px rgba(0, 0, 0, 0.01), 0px 145px 87px rgba(0, 0, 0, 0.05), 0px 64px 64px rgba(0, 0, 0, 0.09), 0px 16px 35px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 258px 103px rgba(0, 0, 0, 0.01), 0px 145px 87px rgba(0, 0, 0, 0.05), 0px 64px 64px rgba(0, 0, 0, 0.09), 0px 16px 35px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding-top: 60px;
  padding-bottom: 88px;
  max-width: 1180px;
  width: 100%;
  background: #FFFFFF;
  padding: 20px; }
  /* line 295, ../scss/style.scss */
  .narrow-box__heading {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.21em;
    width: 580px;
    margin-bottom: 20px; }
  /* line 306, ../scss/style.scss */
  .narrow-box__descr {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    max-width: 900px;
    width: 100%;
    margin-bottom: 40px; }
  /* line 317, ../scss/style.scss */
  .narrow-box__img {
    width: 780px;
    height: auto;
    max-width: 100%;
    margin-bottom: 60px; }
  /* line 323, ../scss/style.scss */
  .narrow-box__text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    max-width: 960px;
    margin-bottom: 60px; }
  /* line 333, ../scss/style.scss */
  .narrow-box__form {
    max-width: 980px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #FFFFFF; }
  /* line 346, ../scss/style.scss */
  .narrow-box__email {
    background: #FFFFFF;
    width: 480px;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0 10px;
    margin: 0 0 15px 0; }
  /* line 356, ../scss/style.scss */
  .narrow-box__social {
    margin-top: 45px; }
  /* line 360, ../scss/style.scss */
  .narrow-box__socialIMG:nth-child(odd) {
    margin: 0 78px; }
  /* line 364, ../scss/style.scss */
  .narrow-box--noShadow {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0; }

/* line 372, ../scss/style.scss */
.problemsSlider {
  margin-top: 70px;
  width: 85%;
  max-width: 1200px; }
  /* line 376, ../scss/style.scss */
  .problemsSlider__card {
    padding: 19px 13px;
    width: 100%;
    max-width: 280px;
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
    margin-bottom: 80px;
    margin-right: 10px;
    margin-left: 10px;
    border-color: #000;
    border-width: 2px;
    border-style: double; }
  /* line 391, ../scss/style.scss */
  .problemsSlider__img {
    max-width: 254px;
    width: 100%;
    height: 223px;
    border-radius: 10px;
    text-align: center; }
  /* line 398, ../scss/style.scss */
  .problemsSlider__heading {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 39px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  /* line 406, ../scss/style.scss */
  .problemsSlider__descr {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px; }
  /* line 412, ../scss/style.scss */
  .problemsSlider__price {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px; }
  /* line 419, ../scss/style.scss */
  .problemsSlider__fundrasing {
    color: #fff;
    position: absolute;
    top: 27px;
    right: 20px;
    width: 100px;
    height: 32px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.21em;
    padding: 6px;
    background-color: red;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px; }

/* line 437, ../scss/style.scss */
.slick-arrow {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 35px);
  z-index: 10;
  border: none;
  outline: none;
  font-size: 0; }
  /* line 447, ../scss/style.scss */
  .slick-arrow:hover {
    opacity: 0.5; }

/* line 452, ../scss/style.scss */
.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  z-index: 10; }
  /* line 462, ../scss/style.scss */
  .slick-dots li {
    margin: 0 4px;
    padding: 4px; }
  /* line 467, ../scss/style.scss */
  .slick-dots button {
    width: 12px;
    height: 12px;
    background-color: #fce000;
    border-radius: 50%;
    outline: none;
    border: 0;
    font-size: 0;
    cursor: pointer; }

/* line 479, ../scss/style.scss */
.slick-active button {
  background-color: #000;
  width: 18px;
  height: 18px;
  margin-bottom: -3px; }

/* line 486, ../scss/style.scss */
.slick-prev {
  left: -90px; }

/* line 490, ../scss/style.scss */
.slick-next {
  right: -90px; }

/* line 494, ../scss/style.scss */
.docs {
  margin: 30px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  /* line 497, ../scss/style.scss */
  .docs__item {
    margin: 0 20px;
    padding: 10px;
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", sans-serif; }
    /* line 506, ../scss/style.scss */
    .docs__item:hover {
      opacity: 0.5;
      cursor: pointer; }

/* line 514, ../scss/style.scss */
.f-box {
  width: 100%;
  max-width: 1180px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 30px; }
  /* line 521, ../scss/style.scss */
  .f-box__item {
    width: 49%;
    max-width: 580px; }
  /* line 525, ../scss/style.scss */
  .f-box__email {
    color: #ffffff;
    width: 100%;
    max-width: 533px;
    height: 43px;
    background: #000;
    border-top: none;
    border-left: none;
    border-right: none; }
  /* line 535, ../scss/style.scss */
  .f-box__btn {
    margin-top: 40px;
    display: block; }
/* line 541, ../scss/style.scss */
.f-social {
  margin-top: 60px; }
  /* line 543, ../scss/style.scss */
  .f-social__item {
    margin-left: 22px; }
    /* line 545, ../scss/style.scss */
    .f-social__item:first-child {
      margin-left: 0; }
    /* line 548, ../scss/style.scss */
    .f-social__item:hover {
      opacity: 0.5; }
/* line 553, ../scss/style.scss */
.f__heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin-left: 165px;
  margin-bottom: 62px; }
/* line 562, ../scss/style.scss */
.f__item {
  margin-left: 165px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px; }
  /* line 566, ../scss/style.scss */
  .f__item a {
    text-decoration: none;
    color: #ffffff; }
/* line 571, ../scss/style.scss */
.f__info {
  font-family: "Montserrat", sans-serif;
  text-align: justify; }

/* line 577, ../scss/style.scss */
.copyright {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  max-width: 1180px;
  padding: 20px 20px 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* line 590, ../scss/style.scss */
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  /* line 592, ../scss/style.scss */
  .modal__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1060;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  /* line 607, ../scss/style.scss */
  .modal__content {
    max-width: 881px;
    width: 100%;
    max-height: 642px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 0 auto;
    background-color: #fefefe;
    border: 1px solid #999;
    -webkit-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    position: relative; }
  /* line 620, ../scss/style.scss */
  .modal__close {
    display: block;
    color: #909bb5;
    font-size: 70px;
    font-weight: 600;
    text-align: right;
    margin-right: 20px; }
    /* line 627, ../scss/style.scss */
    .modal__close:hover, .modal__close :focus {
      color: #000;
      text-decoration: none;
      cursor: pointer; }
  /* line 633, ../scss/style.scss */
  .modal__content {
    padding: 30px; }
  /* line 636, ../scss/style.scss */
  .modal__heading {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 50px; }
  /* line 644, ../scss/style.scss */
  .modal__btnBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    /* line 648, ../scss/style.scss */
    .modal__btnBlock button:last-child {
      margin-top: 15px; }
  /* line 652, ../scss/style.scss */
  .modal__btn {
    background: #D9D9D9;
    border-radius: 20px;
    width: 580px;
    height: 50px;
    margin: 5px 0;
    text-align: left;
    padding: 0 60px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    border: none; }
    /* line 668, ../scss/style.scss */
    .modal__btn:hover {
      background-color: #fce000;
      opacity: 0.5; }

/* line 683, ../scss/style.scss */
.donate-form {
  font-family: "Roboto", sans-serif;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  /* line 690, ../scss/style.scss */
  .donate-form__block {
    width: 394px;
    height: 244px;
    padding: 13px 39px; }
    /* line 694, ../scss/style.scss */
    .donate-form__block--card {
      background: -webkit-gradient(linear, left top, left bottom, from(#0057B8), to(#D6B400));
      background: linear-gradient(180deg, #0057B8 0%, #D6B400 100%);
      border-radius: 30px; }
  /* line 699, ../scss/style.scss */
  .donate-form__title-sum {
    font-weight: 300;
    font-size: 16px;
    line-height: 38px;
    color: #000000; }
  /* line 705, ../scss/style.scss */
  .donate-form__btn {
    position: absolute;
    right: 100px;
    bottom: 85px; }

/* line 714, ../scss/style.scss */
.donate-form-card__title-number {
  font-weight: 300;
  font-size: 16px;
  line-height: 38px; }
/* line 719, ../scss/style.scss */
.donate-form-card__number {
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  width: 240px;
  height: 38px;
  background: inherit;
  color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 7px;
  margin-bottom: 38px; }

/* line 735, ../scss/style.scss */
.inner-block {
  width: 50%; }
  /* line 737, ../scss/style.scss */
  .inner-block__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 38px; }
  /* line 742, ../scss/style.scss */
  .inner-block__input {
    font-weight: 300;
    font-size: 16px;
    line-height: 38px;
    width: 77px;
    height: 38px;
    background: inherit;
    color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 7px;
    margin-right: 120px; }
    /* line 755, ../scss/style.scss */
    .inner-block__input--sum {
      font-weight: 300;
      font-size: 20px;
      line-height: 38px;
      color: #000000;
      width: 135px;
      margin-top: 24px; }

/*# sourceMappingURL=style.css.map */