@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* line 13, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 19, ../scss/style.scss */
header {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  height: 100vh;
  background-image: url("../media/images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #212529; }

/* line 29, ../scss/style.scss */
footer {
  background-color: #000000;
  color: #ffffff; }

/* line 34, ../scss/style.scss */
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

/* line 42, ../scss/style.scss */
.full-width {
  width: 100%;
  background-color: #fce000; }

/* line 47, ../scss/style.scss */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* line 51, ../scss/style.scss */
.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 55, ../scss/style.scss */
.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* line 59, ../scss/style.scss */
.top--menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 178px; }

/* line 64, ../scss/style.scss */
.title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 66, ../scss/style.scss */
  .title__logo {
    width: 100%;
    height: auto;
    max-width: 200px;
    min-width: 100px;
    max-height: 100px; }
  /* line 73, ../scss/style.scss */
  .title__text {
    font-size: 21px;
    text-align: center; }
  /* line 77, ../scss/style.scss */
  .title__footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

/* line 82, ../scss/style.scss */
.menu {
  width: 577px;
  list-style: none;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  /* line 92, ../scss/style.scss */
  .menu__link {
    text-decoration: none;
    color: #ffffff; }

/* line 98, ../scss/style.scss */
.dropdown {
  font-weight: 400; }
  /* line 100, ../scss/style.scss */
  .dropdown__item {
    color: #ffffff; }
    /* line 102, ../scss/style.scss */
    .dropdown__item--active {
      font-weight: 700; }

/* line 108, ../scss/style.scss */
.h-content {
  margin-top: 10px;
  margin-bottom: 60px; }
  /* line 111, ../scss/style.scss */
  .h-content__text {
    margin-top: 192px;
    margin-bottom: 60px;
    width: 540px;
    font-size: 32px;
    line-height: 38px;
    text-align: justify; }
  /* line 119, ../scss/style.scss */
  .h-content__note {
    margin-top: 21px;
    font-size: 25px;
    line-height: 29px; }

/* line 126, ../scss/style.scss */
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 39px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  gap: 10px; }
  /* line 140, ../scss/style.scss */
  .btn__primary {
    background-color: #fce000;
    border: 1px solid #fce000;
    font-family: "Montserrat", sans-serif;
    height: 50px;
    width: 300px; }
  /* line 147, ../scss/style.scss */
  .btn__secondary {
    background: #000000;
    color: #fff;
    width: 479px;
    height: 54px;
    padding: 10px 39px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 80px; }

/* line 158, ../scss/style.scss */
.content {
  font-family: "Montserrat", sans-serif; }
  /* line 160, ../scss/style.scss */
  .content__box {
    margin: 60px 0; }
    /* line 162, ../scss/style.scss */
    .content__box--heading {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 140px auto auto 110px; }
  /* line 167, ../scss/style.scss */
  .content__heading {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    line-height: 76px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  /* line 177, ../scss/style.scss */
  .content__note {
    font-family: "Montserrat", sans-serif;
    margin: 15px auto 0;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.21em; }
  /* line 187, ../scss/style.scss */
  .content__descr {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    text-align: justify;
    width: 479px;
    padding: 0 10px;
    margin: 0 -10px 20px; }

/* line 200, ../scss/style.scss */
.info {
  padding: 46px 0; }
  /* line 203, ../scss/style.scss */
  .info__text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    max-width: 100%; }
    /* line 211, ../scss/style.scss */
    .info__text:nth-child(2) {
      margin-top: 40px; }
  /* line 215, ../scss/style.scss */
  .info__main-text {
    font-family: "Roboto", sans-serif;
    text-align: justify;
    max-width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px; }

/* line 226, ../scss/style.scss */
.narrow-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 258px 103px rgba(0, 0, 0, 0.01), 0px 145px 87px rgba(0, 0, 0, 0.05), 0px 64px 64px rgba(0, 0, 0, 0.09), 0px 16px 35px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 258px 103px rgba(0, 0, 0, 0.01), 0px 145px 87px rgba(0, 0, 0, 0.05), 0px 64px 64px rgba(0, 0, 0, 0.09), 0px 16px 35px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding-top: 60px;
  padding-bottom: 88px;
  max-width: 1180px;
  width: 100%;
  background: #FFFFFF;
  padding: 20px; }
  /* line 240, ../scss/style.scss */
  .narrow-box__heading {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.21em;
    width: 580px;
    margin-bottom: 20px; }
  /* line 251, ../scss/style.scss */
  .narrow-box__descr {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    max-width: 100%;
    width: 980px;
    margin-bottom: 40px; }
  /* line 262, ../scss/style.scss */
  .narrow-box__img {
    width: 780px;
    height: auto;
    max-width: 100%;
    margin-bottom: 60px; }
  /* line 268, ../scss/style.scss */
  .narrow-box__text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    max-width: 960px;
    margin-bottom: 60px; }
  /* line 278, ../scss/style.scss */
  .narrow-box__form {
    max-width: 980px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #FFFFFF; }
  /* line 291, ../scss/style.scss */
  .narrow-box__email {
    background: #FFFFFF;
    width: 480px;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none; }
  /* line 299, ../scss/style.scss */
  .narrow-box__social {
    margin-top: 45px; }
  /* line 303, ../scss/style.scss */
  .narrow-box__socialIMG:nth-child(odd) {
    margin: 0 78px; }
  /* line 307, ../scss/style.scss */
  .narrow-box--noShadow {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0; }

/* line 315, ../scss/style.scss */
.problemsSlider {
  margin-top: 70px;
  width: 85%; }
  /* line 318, ../scss/style.scss */
  .problemsSlider__card {
    padding: 19px 13px;
    width: 280px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 89px 36px rgba(0, 0, 0, 0.01), 0px 50px 30px rgba(0, 0, 0, 0.05), 0px 22px 22px rgba(0, 0, 0, 0.09), 0px 6px 12px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 89px 36px rgba(0, 0, 0, 0.01), 0px 50px 30px rgba(0, 0, 0, 0.05), 0px 22px 22px rgba(0, 0, 0, 0.09), 0px 6px 12px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: relative;
    margin-bottom: 80px;
    margin-right: 10px;
    margin-left: 10px; }
  /* line 329, ../scss/style.scss */
  .problemsSlider__img {
    max-width: 254px;
    width: 100%;
    height: 223px;
    border-radius: 10px;
    text-align: center; }
  /* line 336, ../scss/style.scss */
  .problemsSlider__heading {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 39px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  /* line 344, ../scss/style.scss */
  .problemsSlider__price {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px; }
  /* line 351, ../scss/style.scss */
  .problemsSlider__fundrasing {
    color: #fff;
    position: absolute;
    top: 27px;
    right: 20px;
    width: 100px;
    height: 32px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.21em;
    padding: 6px;
    background-color: red;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px; }

/* line 369, ../scss/style.scss */
.slick-arrow {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 35px);
  z-index: 10;
  border: none;
  outline: none;
  font-size: 0; }
  /* line 379, ../scss/style.scss */
  .slick-arrow:hover {
    opacity: 0.5; }

/* line 384, ../scss/style.scss */
.slick-prev {
  left: -90px; }

/* line 397, ../scss/style.scss */
.slick-next {
  right: -90px; }

/* line 410, ../scss/style.scss */
.f-box {
  width: 100%;
  max-width: 1180px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 30px; }
  /* line 417, ../scss/style.scss */
  .f-box__item {
    width: 49%;
    max-width: 580px; }
  /* line 421, ../scss/style.scss */
  .f-box__email {
    color: #ffffff;
    width: 100%;
    max-width: 533px;
    height: 43px;
    background: #000;
    border-top: none;
    border-left: none;
    border-right: none; }
  /* line 431, ../scss/style.scss */
  .f-box__btn {
    margin-top: 40px;
    display: block; }

/* line 439, ../scss/style.scss */
.f-social {
  margin-top: 60px; }
  /* line 441, ../scss/style.scss */
  .f-social__item {
    margin-left: 22px; }
    /* line 443, ../scss/style.scss */
    .f-social__item:first-child {
      margin-left: 0; }
/* line 448, ../scss/style.scss */
.f__heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin-left: 165px;
  margin-bottom: 62px; }
/* line 457, ../scss/style.scss */
.f__item {
  margin-left: 165px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px; }
  /* line 461, ../scss/style.scss */
  .f__item a {
    text-decoration: none;
    color: #ffffff; }

/* line 468, ../scss/style.scss */
.copyright {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  max-width: 1180px;
  padding: 20px 20px 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* line 479, ../scss/style.scss */
.test {
  width: 200px;
  background-color: #08c;
  height: 200px; }

/*# sourceMappingURL=style.css.map */